/* contact section */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--thirdblack);
}

div#contact {
    margin-top: 100px;
}