/* home section */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.home .contentBx {
    position: relative;
    z-index: 1;
    /*background: var(--white);*/
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .contentBx h2 {
    /*font-family: 'Josefin Slab', serif;*/
    font-size: 2.2em;
    font-weight: 200;
    color: var(--black);
    letter-spacing: 2px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

.home .contentBx h4 {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
}

/* contact section */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}