/* login section */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* error messages */
.errorMessage {
    margin-top: 20px;
    color: red;
    font-weight: 400;
}