/* style common to all pages */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    cursor: none;
}

:root {
    --black: #373434;
    --details: #39915d;
    --white: #FFFFFF;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: var(--details);
}

::-moz-selection {
    background: var(--details);
    color: white;
}

::selection {
    background: var(--details);
    color: white;
}

body {
    min-height: 150vh;
    background: #e0e0e0
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    z-index: 1000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

header.sticky {
    padding: 10px 100px;
}

.logo {
    position: relative;
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.toggleMenu {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(../src/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.toggleMenu.active {
    background: url(../src/closemenu.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    transition: 0.25s;
    opacity: 0;
    visibility: hidden;
}

.navigation.active {
    opacity: 1;
    visibility: visible;
}

.navigation li {
    list-style: none;
    margin: 10px 0;
}

.navigation li a {
    color: var(--black);
    font-size: 1.2em;
    letter-spacing: 4px;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

section {
    position: relative;
    padding: 100px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    border: 1px solid var(--black);
    color: var(--black);
    background: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.25s;
}

.btn:hover {
    color: var(--white);
    background: var(--black);
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h2 {
    position: relative;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.4em;
    text-transform: uppercase;
    color: var(--black);
    overflow-x: initial;
}

.title p {
    margin-top: 40px;
    max-width: 700px;
}

.title h2:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 6px;
    background: var(--black);
}

p {
    color: var(--black);
    font-weight: 300;
    text-align: justify;
}

::placeholder {
    color: var(--black);
}

footer {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #e0e0e0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

footer .footerMenu {
    display: flex;
}

footer .footerMenu li {
    list-style: none;
}

footer .footerMenu li a {
    display: inline-block;
    text-decoration: none;
    margin: 20px;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.copyright {
    color: var(--black);
    text-align: center;
    letter-spacing: 1px;
}

/* cursor style */
.cursor {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    background-color: var(--details);
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    opacity: .5;
    z-index: 10000;
}

.cursor-grow {
    transform: scale(2);
}

.hidecursor {
    display: none !important;
}

.showcursor {
    cursor: initial !important;
}
